@model CumulativeProject.Models.Teacher
@{
    ViewBag.Title = "Show";
}

<div id="containershow">
    <nav>
        <a class="navlink" href="/Teacher/List"> Back to Teachers</a>
        &nbsp;&nbsp;
        <a href="/Teacher/Edit/@Model.TeacherId">Edit</a>
        &nbsp;&nbsp;
        <a class="dellink" href="/Teacher/DeleteConfirm/@Model.TeacherId">Delete</a>
    </nav>
    <h2>@Model.TeacherFname @Model.TeacherLname</h2>
    <p>
       Hiring date : @Model.HireDate        
       Salary :  @Model.Salary
    </p>
</div>

